<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/villagracosso.css">
    <link rel="icon" href="../img/logo icono anglo.png">
    <title>Anglo Americano</title>




</html>
<body>
    <header>
        <img=<descarga class="jpg" src="./img/hola.PNG"></descarga>
        <div class="container-logo"><img class="logo" src="../img/logo icono anglo.png" alt="img"></div>
        <div class="container-agregar"><img class="agregar" src="../public/img/agregar.png" alt="img"></div>
   
       
        



    </main>
</body>
</html>




