*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.imagen-fondo{
    width: 100%;   
    position: absolute;
    z-index: -1;
}
.logo-anglo{
    height: 200px;
    
}

.container-container-body{
    text-align: center;
    height: 10px;

}


.Inicio{
    box-shadow: #000;
    height: 300px;
    width: 250px;
    margin:auto; 
    color: #000;
    background:#fff

}
h2{
    color:#0049FF;



}


.h2-1{
    font-size: 23px;
    background: #5151e9;
    margin-top: 30px;
    
  
}
.h2-2{
    font-size: 23px;
    width: 114px;
    background: #5151e9;
    margin-top: 30px;
    color: #fff;
  
}
input{
    font-size: 15px;
    background: #191944;
    color: white;
    margin: 20px;


}

.boton{
    margin-top: 50px;
    background: rgb(143, 9, 9);
    padding: 5px 20px;
}

